/* Global Font Styling */
body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
  }
  
  /* Log section styling */
  .log-section {
    width: 60%;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  textarea {
    resize: none;
  }
  
  /* Flexbox container for the buttons */
  .log-button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Adds space between buttons */
    margin-top: 20px;
  }
  
  .log-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .log-button:hover {
    background-color: #ff7b00;
  }
